@charset "utf-8";

@font-face {
    font-family: fa;
    src: url('../font/DungGeunMo.otf');
}

html {
    overflow-x: hidden;
    font-size: 8px;
    background-color: #fdfbfb;
    overflow: scroll;
}


html.on {
    background-color: black;
    color: white;
}

#target {
    font-size: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}

header {
    position: relative;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fa';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



 
    
.p_box {
    position: absolute;
    top: 0;
    left: 0%;
    transform: translateX(-50%);
}

main {
    position: relative;
    width: 100%;
    height: 2000%;
}

main>div {
    position: relative;
    width: 100%;
    height: 100vh;
}
.test{
    left: 50%;
    bottom: 10rem;
    font-size: 10rem;
width: 100%;
height: 10rem;
z-index: 102;
position: absolute;
transform: translateX(-50%);
text-align: center;
}




.section-top {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem 10rem;
}

.section-top>p {
    display: block;
}

.title {
    font-size: 15rem;
}

.subtitle {
    padding-top: 5rem;
    font-size: 5rem;
}

.img {
    width: 50rem;
    height: 50rem;
    background: url('../img/profile.png') no-repeat center center/contain;
}

.bubble {
    position: absolute;
    z-index: 1;
}

.bubble>.i1 {
    width: 4.2%;
}

@keyframes bu {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.i1.on {
    animation: abc 2s linear forwards;

}

@keyframes abc {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100rem) rotate(1080deg);
        opacity: 0;
        visibility: hidden;
    }

}

#hi {
    display: none;
}

#shoo {
    height: 55vh;
}

.shooter {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}



.stop {
    top: 0rem;
    font-size: 4rem;
    position: absolute;
    display: block;
    right: -35rem;
    z-index: 80;
}

.start {
    font-size: 4rem;
    position: absolute;
    display: block;
    z-index: 80;
    top: 0rem;
    left: -35rem;
}

.shoote {
    left: 49.8%;
    position: absolute;
    animation: shoot 1s linear infinite;
}

.shoote.on {
    animation: none;
}

.shoote>.i1.on {
    display: none;
}

@keyframes shoot {
    0% {
        transform: translateY(15rem);
    }

    100% {
        transform: translateY(-46rem);
    }
}

.shoot {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}



.section1-main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.i1 {
    width: 10rem;
    height: 10rem;
    margin: -0.3rem;
}

li>img {
    background-color: white;
    border-radius: 45%;
}

.section1-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30rem;
}

.section1-left>p {
    font-size: 3.8rem;
    text-align: center;
}

.section1-right {
    margin-top: -13rem;
    display: flex;
    flex-direction: column;
    margin-left: -30rem;
}

.section1-right>div {
    display: flex;
}

.section1-right p {
    font-size: 6rem;
    margin-right: 5rem;
    margin-top: 10rem;
    padding-left: 4rem;
    flex: 1 0 auto;
}

.section1-right>p:nth-child(3) {
    margin-right: 40rem;
}

.section1-right>p:nth-child(4) {
    margin-top: 1rem;
    margin-right: 50rem;
}

.section1-right ul {
    height: 4rem;
    margin-top: 0rem;
    margin-left: 0rem;
    display: flex;
}

.section1-right li {
    margin-top: 1rem;
    position: relative;
}

.section1-right li>img {
    width: 10rem;
}





.click:hover {
    cursor: url('../img/i6.png')16 16, auto;
}

.start:hover {
    cursor: url('../img/i8.png')16 16, auto;
}

.stop:hover {
    cursor: url('../img/i9.png')16 16, auto;
}




.contents:hover {
    cursor: url('../img/c3.png')32 32, auto;
}

.cont-box {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box {
    display: flex;
    justify-content: space-around;
    padding-top: 6rem;
}

.box img {
    width: 20rem;
    height: 20rem;
}

.text {
    display: flex;
    justify-content: space-around;
    font-size: 3.5rem;
    text-align: center;
    transform: translateY(20%);

}

@keyframes coin {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-40%);
    }
}

.text>div.on {
    animation: coin 1s forwards;
}

.text>div>a {
    display: block;
    width: 20rem;
    height: 16.5rem;
    opacity: 0;
    line-height: 40rem;
    transition: all .3s;
    animation: coin2 2s infinite linear;
    background: url('../img/test.png') no-repeat center/contain;
}

@keyframes coin2 {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.text>div>a.on {
    opacity: 1;
    cursor: url('../img/test2.png')32 32, auto;
}

.text>div:hover {
    cursor: url('../img/test2.png')32 32, auto;
}

.box>img.on {
    content: url('../img/c2.png');
}






.thank {
    position: relative;
    overflow: hidden;
    cursor: url('../img/pack.png')16 16, auto;
}

.thanks {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 100rem;
    z-index: -99;
}

.thank img {
    display: block;
    position: absolute;
}

.thank img:nth-child(2) {
    top: 20%;
    left: -100%;
    transform: translateX(-50%) translateY(-50%);
    animation: ty 20s 3.6s infinite linear;
    width: 35rem;
    z-index: 99;
}

.thank img:nth-child(3) {
    top: 30%;
    left: -100%;
    transform: translateX(-50%) translateY(-50%);
    animation: ty 20s 2.2s infinite linear;
    width: 35rem;
    z-index: 99;
}

.thank img:nth-child(4) {
    top: 50%;
    left: -100%;
    transform: translateX(-50%) translateY(-50%);
    animation: ty 20s 1s infinite linear;
    width: 35rem;
    z-index: 99;
}

.thank img:nth-child(5) {
    top: 80%;
    left: -100%;
    transform: translateX(-50%) translateY(-50%);
    animation: ty 20s 4s infinite linear;
    width: 45rem;
    z-index: 99;
}

html .thank img:nth-child(6) {
    background-color: #fdfbfb;
    width: 145rem;
    object-fit: contain;
    padding-left: 70rem;
    top: 50%;
    left: -100%;
    animation: tyy 20s infinite linear;
    transform: translateX(-50%) translateY(-50%);
}

html.on .thank img:nth-child(6) {
    background-color: black;
}

@keyframes ty {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }

    100% {
        transform: translateX(1400%) translateY(-50%);
    }
}

@keyframes tyy {
    0% {
        transform: translateX(-50%) translateY(-50%);
    }

    100% {
        transform: translateX(340%) translateY(-50%);
    }
}

.mod::after {
    content: 'DARK MOD';
    right: 5rem;
    top: 5rem;
    position: fixed;
    width: 15rem;
    height: 6rem;
    border-radius: 5rem;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 3rem;
    line-height: 6rem;
    z-index: 99;
    color: black;
}

.mod.on::after {
    content: 'WHITE MOD';
}


@media screen and (max-width:1440px) {
    html {
        font-size: 6px;
    }

    #target {
        display: block;
    }

    #hi {
        display: block;
        left: 50%;
        transform: translateX(-50%);
    }

    main>div {
        height: 60vh;
    }

    .bubble>.i1 {
        width: 4.2%;
    }

    .nav1 {
        display: block;
    }

    nav {
        display: none;
    }

  
    #shoo {
        display: none;
    }



   


}



@media screen and (max-width:1024px) {
    html {
        font-size: 4px;
    }

    .nav1 {
        display: block;
    }

    nav {
        display: none;
    }

    main>div {
        height: 50vh;
    }
    .press b{
    font-size: 20rem;
}
 


}

@media screen and (max-width:768px) {
    html {
        font-size: 2.5px;
    }

}

@media screen and (max-width:425px) {
    html {
        font-size: 2px;
    }

    header {
        height: 50vh;
    }

    main>div {
        height: 30vh;
    }

    .press b{
    bottom: 40%;}

    @media screen and (max-width:375px) {
        html {
            font-size: 1.5px;
        }

        header {
            height: 25vh;
        }

        main>div {
            height: 25vh;
        }


    }

}